<a href="https://colab.research.google.com/github/avyay10/Anxiet-ease/blob/main/backpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1nc-yqbbrA_NvhmZSF5TK4x2jbWeioHoBVIoOQrz99Ys/edit?usp=sharing')

In [ ]:
sheet = wb.worksheet('Sheet1')

In [ ]:
data = sheet.get_all_values()

In [ ]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [ ]:
df.head()

0 Sno DateTime Delta
1   8     0:00     6
2   7     0:00     2
3  10     0:00     6

In [ ]:

worksheet = gc.open('A new spreadsheet').sheet1

cell_list = worksheet.range('A2:C4')

import random
for cell in cell_list:
  cell.value = random.randint(1, 10)

worksheet.update_cells(cell_list)

{'spreadsheetId': '1nc-yqbbrA_NvhmZSF5TK4x2jbWeioHoBVIoOQrz99Ys',
 'updatedCells': 9,
 'updatedColumns': 3,
 'updatedRange': 'Sheet1!A2:C4',
 'updatedRows': 3}